streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-core
pypdf
chromadb
sentence-transformers
openai
python-dotenv
tavily-python
rank-bm25
tiktoken
pydantic
PyMuPDF
Pillow
